h1{
    color: blue;
}

div{
    
    height: 500px;
    width:  650px;
    border: 4px solid;
    background-color: silver;
    background-image: url(https://images.hindustantimes.com/img/2022/10/10/1600x900/Suriya_1658583857413_1665390371955_1665390371955.jpg),
    url(https://www.themoviedb.org/t/p/w500/fTdgSinsAitdujBBEUEA72GY0pv.jpg);
    background-repeat: no-repeat;
    background-size: 200px,200px;
    background-position: top, bottom;
 

   


    
}

