div{
    height: 400px;
    width: 400px;
    border: 6px outset black;
    background-color: orange;
   
    

}

#demo{
    height: 400px;
    width: 400px;
    border: 6px outset black;
    background-color: white;
    position: relative;
    z-index:-1;
}

#test{
    height: 400px;
    width: 400px;
    border: 6px outset black;
    background-color: green;
    
}